.navbar {
    background-color: #009789!important;
    color:#ffffff!important;
}
.main-header {
    background-color: #009789;
    color:#ffffff!important;
}

.logo{
    background-color: #009789!important;
    color:#ffffff!important;
}
.sidebar-toggle:hover{
    background-color: #009789!important;
    color:#ffffff!important;
}
.btn-success{
    background-color: #009789!important;
    color:#ffffff!important;
}
.btn-info
{
    background-color: #009789!important;
    color:#ffffff!important;
}
a{
    color: #009789;}